.contenedor-global
{
	width: 1200px;
	margin: 0 auto;
}

.left
{
	float: left;
}

.right{
	float: right;
}

ul{
	list-style: none;
}


/* bloque1*/
.menu
{
	background-color: white;
	margin-bottom: 20px;
	width: 1200px;
	margin: 0 auto;
	z-index: 99;
	clear: both;
	overflow: hidden;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 2px 0px rgba(171,164,171,1);
	-moz-box-shadow: 0px 5px 2px 0px rgba(171,164,171,1);
	box-shadow: 0px 5px 2px 0px rgba(171,164,171,1);
	height: 80px;
}
nav {
    height: 80px !important;
}

/*
.menu-fijo
{
	background-color: white;
	width: 1200px;
	position: fixed;
	top: 0;
	z-index: 99;
	clear: both;
	overflow: hidden;
	-webkit-box-shadow: 0px 5px 2px 0px rgba(171,164,171,1);
	-moz-box-shadow: 0px 5px 2px 0px rgba(171,164,171,1);
	box-shadow: 0px 5px 2px 0px rgba(171,164,171,1);
}
*/
.logo
{
	/*width: 25%;*/
	background-color: white;
}
.navegador li a{
	padding: 20px 18px;
}

.navegador
{
	/*width: 75%;*/
	background-color: white;
	right: 0;
}

.navegador li{
	list-style: none; 
	position: relative;
	display: inline-block; 
	padding-top: 20px;
	font-size: 16px;
	font-weight: 700;
    border-right: 1px solid #eeeeee;
}

.navegador li a{
	text-decoration: none;
	color: #3a3a3a;
	text-transform: uppercase;
}

.navegador a:hover, .inicio > a{
	background-color: red;
	/*background: url(../images/main-menu_hover.png);*/
}

.navegador a:hover, .navegador .inicio > a{
	color: white;
}

.nav-wrapper .brand-logo img
{
 	height: 80px;
}

nav{
	background-color: white !important;
}

nav ul a {
    font-size: 1.5rem !important;
    padding: 10px 15px !important;
    color: red !important; 
}

/* bloque2*/
#slider
{
	background-color: blue;
	/*margin-bottom: 20px;
	margin-top: 20px;*/
	margin: 20px auto;
	height: 500px;
}
/* bloque3*/
.areas
{
	background-color: green;
	margin-bottom: 20px;
}
#titulo-areas{
	text-align: center;
	font-size: 40px;
}
.contenedor-areas{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.area{
	width: 24%;
    height: 100%;
    background-color: white;
    display: inline-block;
    margin-bottom: 20px;
}

.circulo
{
	border-radius: 50%;
    height: 150px;
    background-color: red;
    width: 150px;
    margin: 0px auto;
    position: relative;
    top: 15px;

}
.grow:hover
{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.cuadrado {
    border: 1px solid black;
    padding: 10px;
    text-align: justify;
    margin: 10px;
    margin-top: -50px;
}

.area .cuadrado h5 
{
	text-align: center;
	padding-top: 50px;

}

/* bloque4*/

.publicidad
{
	width: 100%;
	background-color: skyblue;
	margin-bottom: 20px;
	overflow: hidden;
}
.publicidad #publicidad-texto{
	width: 80%;
	text-align: center;
}
.publicidad #publicidad-link{
	width: 20%;
	text-align: center;
	margin-top: 20px;
}
div#publicidad-link a {
    background-color: gray;
    padding: 10px 30px;
    font-size: 22px;
    color: white;
}
/* bloque5*/
.descripcion
{
	width: 100%;
	background-color: gray;
	margin-bottom: 20px;
	overflow: hidden;
}
.descripcion #porque{
	width: 30%;
	text-align: justify;
    margin-top: 40px;
    padding-left: 35px;
}
div#porque-titulo {
    margin-bottom: 20px;
    text-align: center;
}
.descripcion #ultimos-proyectos{
	width: 70%;
}
/* bloque6*/
.tecnologias
{
	background-color: white;
	margin-bottom: 20px;
}

/* bloque7*/
.footer
{
	background-color: pink;
	margin-bottom: 20px;
}