.contenedor-global
{
	width: 1200px;
	margin: 0 auto;
}

.left
{
	float: left;
}

.right{
	float: right;
}

ul{
	list-style: none;
}


/* bloque1*/
.menu
{
	background-color: white;
	margin-bottom: 20px;
	width: 1200px;
	margin: 0 auto;
	z-index: 99;
	clear: both;
	overflow: hidden;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 2px 0px rgba(171,164,171,1);
	-moz-box-shadow: 0px 5px 2px 0px rgba(171,164,171,1);
	box-shadow: 0px 5px 2px 0px rgba(171,164,171,1);
}
/*
.menu-fijo
{
	background-color: white;
	width: 1200px;
	position: fixed;
	top: 0;
	z-index: 99;
	clear: both;
	overflow: hidden;
	-webkit-box-shadow: 0px 5px 2px 0px rgba(171,164,171,1);
	-moz-box-shadow: 0px 5px 2px 0px rgba(171,164,171,1);
	box-shadow: 0px 5px 2px 0px rgba(171,164,171,1);
}
*/
.logo
{
	/*width: 25%;*/
	background-color: white;
}
.navegador li a{
	padding: 20px 18px;
}

.navegador
{
	/*width: 75%;*/
	background-color: white;
	right: 0;
}

.navegador li{
	list-style: none; 
	position: relative;
	display: inline-block; 
	padding-top: 20px;
	font-size: 16px;
	font-weight: 700;
    border-right: 1px solid #eeeeee;
}

.navegador li a{
	text-decoration: none;
	color: #3a3a3a;
	text-transform: uppercase;
}

.navegador a:hover, .inicio > a{
	background-color: red;
	/*background: url(../images/main-menu_hover.png);*/
}

.navegador a:hover, .navegador .inicio > a{
	color: white;
}

/* bloque2*/
#slider
{
	background-color: blue;
	/*margin-bottom: 20px;
	margin-top: 20px;*/
	margin: 20px auto;
}
/* bloque3*/
.areas
{
	background-color: green;
	margin-bottom: 20px;
}
#titulo-areas{
	text-align: center;
	font-size: 40px;
}
.contenedor-areas{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.cuadro-area{
	width: 24%;
	height: 100px;
	background-color: white;
	display: inline-block;
}

/* bloque4*/

.publicidad
{
	width: 100%;
	background-color: skyblue;
	margin-bottom: 20px;
	overflow: hidden;
}
.publicidad #publicidad-texto{
	width: 80%;
	text-align: center;
}
.publicidad #publicidad-link{
	width: 20%;
	text-align: center;
}
/* bloque5*/
.descripcion
{
	width: 100%;
	background-color: gray;
	margin-bottom: 20px;
	overflow: hidden;
}
.descripcion #porque{
	width: 35%;
	text-align: justify;
}
.descripcion #ultimos-proyectos{
	width: 65%;
}
/* bloque6*/
.tecnologias
{
	background-color: white;
	margin-bottom: 20px;
}

/* bloque7*/
.footer
{
	background-color: pink;
	margin-bottom: 20px;
}